.container {
    display: grid;
    grid-template-areas:
        "chart1 search"
        "chart1 bonds"
        "portfolio bonds"
        "chart2 bonds";
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 150px 150px auto 250px;

    .portfolio-chart {
        grid-area: chart1;
    }

    .returns-chart {
        grid-area: chart2;
    }

    .portfolio-list {
        grid-area: portfolio;
        //background-color: cornsilk;
    }

    .bonds-filter {
        grid-area: search;
    }

    .bonds-list {
        grid-area: bonds;
        // background-color: white;
    }
}