.container {
    display: grid;
    grid-template-areas:
        "chart search"
        "chart bonds"
        "portfolio bonds";
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 150px 150px auto;

    .portfolio-chart {
        grid-area: chart;
        background-color: coral;
    }

    .portfolio-list {
        grid-area: portfolio;
        background-color: cornsilk;
    }

    .bonds-filter {
        grid-area: search;
        background-color: cyan;
    }

    .bonds-list {
        grid-area: bonds;
        background-color: white;
    }
}